@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
.title,.sous_title{
    font-family: "Noto Kufi Arabic", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 30px;
}
.sous_title{
    line-height: 40px;
}
.icon_slider{
    margin-top: 30px;
}
.contenu_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
@media (max-width: 600px) {
    .title {
      font-size: 1.8rem !important; /* Override inline 3rem */
      margin-bottom: 20px;
    }
  
    .sous_title {
      font-size: 1rem !important; /* Override inline 1.2rem */
      line-height: 1.5;
      max-width: 90%;
    }
  
    .icon_slider {
      width: 80px !important; /* Reduce icon size */
      height: auto !important;
      margin-top: 15px;
    }
  }
  