.section {
  width: 100%;
  padding: 20px 0;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.carousel_container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.brand_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
/* Exemple dans Carrousel.module.css */
.swiper-pagination {
  margin-top: 20px; /* ajuste la valeur comme tu veux */
}
/* Carrousel.module.css */

.carousel_container :global(.swiper-pagination) {
  margin-top: 20px;
}
